<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="css/style.css">

</head>
<body>
  <main>
      <h1><a href="/profile">Binary Upload Boom</a></h1>
      <p>The #100Devs Social Network</p>
      <div>
        <a class="navigate" href="/login">Login</a>
        <a class="navigate" href="/signup">Sign up</a>
      </div>
  </main>
</body>
</html>