<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link   href="https://fonts.googleapis.com/css2?family=Slabo+27px&family=Staatliches&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="css/style.css">
    <title>Document</title>
    

</head>
<body>
 <section class ="doom-scrolling-bg">
  <main>
      <h1><a class="doom-scrolling-a" href="/profile">Doom-Scrolling!</a></h1>
      <p class="doom-scrolling-p">The Endless Scrolling Social Network</p>
      <div>
        <a class="navigate" href="/login">Login</a>
        <a class="navigate" href="/signup">Sign up</a>
      </div>
  </main>
  </section>
</body>
</html>