<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/mainfeed.css">
</head>
<body>
<header>
<nav>
  <ul>
    <li><a href="/dashboard">Dashboard</a></li>
    <li><a href="/profile">My Profile</a></li>
    <li><a href="../signup/logout">Logout</a></li>
  </ul>
  </nav>
</header>
    <h1>Welcome to Doom-Scrolling!</h1>
<!--    Page to display individual posts -->
    <p>Posted by <%= post.username %></p>
    <% if (post.username === username) { %>
      
    <% } %>
    <button id="deleteBtn">Delete</button>
    <p>Caption: <%= post.caption %></p>
    <button id="likeBtn">Like</button>
     <img src='/uploads/<%=post.imgName%>' data-imgID=<%=post.id%> id="mainImg">
        <form method="POST" action="/addComment">
          <label>Add comment: <input type="text" name="message" id="message"></label>
          <button id="addCommentBtn">Post</button>
        </form>

    <script src="/js/main.js"></script>
</body>
</html>